<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studentplanner"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="Student Planner" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateSemesterActivity"
            android:label="@string/title_activity_semester_create"
            android:theme="@style/MyCustomTheme" >
        </activity>
        <activity
            android:name=".CreateExamActivity"
            android:label="Add an Exam"
            android:theme="@style/MyCustomTheme" >
        </activity>
        <activity
            android:name=".CreateAssignmentActivity"
            android:label="Add an Assignment"
            android:theme="@style/MyCustomTheme" >
        </activity>
        <activity
            android:name=".SemesterActivity"
            android:label="Hello!"
            android:theme="@style/MyCustomTheme" >
        </activity>
        <activity
            android:name=".CreateCourseActivity"
            android:label="Create Course"
            android:theme="@style/MyCustomTheme" >
        </activity>
        <activity
            android:name=".CourseListviewActivity"
            android:label="Courses"
            android:theme="@style/MyCustomTheme" >
        </activity>
        <activity
            android:name=".NotebookActivity"
            android:label="Notebook"
            android:theme="@style/MyCustomTheme" >
        </activity>
        <activity
            android:name=".NoteViewActivity"
            android:label="Note"
            android:theme="@style/MyCustomTheme" >
        </activity>
        <activity
            android:name=".CourseActivity"
            android:label="Course"
            android:theme="@style/MyCustomTheme" >
        </activity>
        <activity
            android:name=".CreateNoteActivity"
            android:label="CreateNote" >
        </activity>
        <activity
            android:name=".AssignmentListviewActivity"
            android:label="Assignments"
            android:theme="@style/MyCustomTheme" >
        </activity>
        <activity
            android:name=".AssignmentActivity"
            android:label="Assignments"
            android:theme="@style/MyCustomTheme" >
        </activity>
        <activity
            android:name=".EditAssignmentActivity"
            android:label="Assignments"
            android:theme="@style/MyCustomTheme" >
        </activity>
        <activity
            android:name=".ExamListviewActivity"
            android:label="Assignments"
            android:theme="@style/MyCustomTheme" >
        </activity>
        <activity
            android:name=".ExamActivity"
            android:label="Assignments"
            android:theme="@style/MyCustomTheme" >
        </activity>
        <activity
            android:name=".EditExamActivity"
            android:label="Assignments"
            android:theme="@style/MyCustomTheme" >
        </activity>
        <activity
            android:name=".EditSemesterActivity"
            android:label="Assignments"
            android:theme="@style/MyCustomTheme" >
        </activity>
        <activity
            android:name=".EditCourseActivity"
            android:label="Edit"
            android:theme="@style/MyCustomTheme" >
        </activity>
        <activity
            android:name=".EditMiscActivity"
            android:label="Miscs"
            android:theme="@style/MyCustomTheme" >
        </activity>
        <activity
            android:name=".MiscActivity"
            android:label="Miscs"
            android:theme="@style/MyCustomTheme" >
        </activity>
        <activity
            android:name=".MiscListviewActivity"
            android:label="Miscs"
            android:theme="@style/MyCustomTheme" >
        </activity>
        <activity
            android:name=".CreateMiscActivity"
            android:label="Assignments"
            android:theme="@style/MyCustomTheme" >
        </activity>
        <activity
            android:name=".ProgressActivity"
            android:label="Assignments"
            android:theme="@style/MyCustomTheme" >
        </activity>

        <service 
            android:name=".VibrateService" 
            android:process=":my_process">
        </service>
    </application>

</manifest>